<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="host" value="rabbitmq://localhost:5672/accounting"/>
    <add key="endpoint" value="mycompany.domains.queues.events.sales"/>
    <add key="username" value="henry"/>
    <add key="password" value="henry"/>
  </appSettings>
</configuration>